{% extends "base.html" %} {% block title %}Avaleht{% endblock %}
{% block content %}
<br>
<h1 align="Center">
    Osaühingu otsimine
</h1>
<div id="results"></div>
<br>
<input id="companyOrPerson" class="form-control" onkeyup="searchForCompany()" type="text" placeholder="Otsing">
<form method="POST">
    <table class="table table-striped table-bordered" id="companyList">
        <tbody>
            <tr>
                <th scope="col-3">
                    Osaühingu nimi
                </th>
                <th scope="col-3">
                    Osaühingu registrikood
                </th>
                <th scope="col-3">
                    Osaühingu osanikud
                </th>
            </tr>
            {% for company in companies %}
            <tr>
                <td scope="col-3">
                    {{ company.companyName }}
                </td>
                <td scope="col-3">
                    {{ company.regCode }}
                </td>
                <td scope="col-3">
                    <ul>
                        {% for companyOwner in company.shareOwner %}
                        <li>
                            {% if companyOwner.owner.type == 1 %}
                                <span>{{ companyOwner.owner.firstName + " " + companyOwner.owner.lastName}}</span>
                            {% else %}
                                <span>{{ companyOwner.owner.name }}</span>
                            {% endif %}
                            {% if companyOwner.owner.type == 1 %}
                                <span>{{ companyOwner.owner.personalCode}}</span>
                            {% else %}
                                <span>{{ companyOwner.owner.regCode }}</span>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                        <button type="submit" class="btn btn-primary submitButton" id="{{company.companyId}}submitNumber">Näita rohkem</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="text" class="form-control hiddenInput" id="selectedCompany" name="idNumber" readonly>
</form>
{% endblock %}