{% extends "base.html" %} {% block title %}Osaühingu osakapitali suurendamise vorm{% endblock %}
{% block content%}
{% set usedPerson = [] %}
    <br>
    <h1 align="Center">
        Osaühingu osakapitali suurendamise vorm
    </h1>
    <br>
    <form method="POST">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="row">Nimi</th>
                    <th scope="row">Isikukood/Registrikood</th>
                    <th scope="row">Füüsiline/Juriidiline</th>
                    <th scope="row">Osa suurus</th>
                    <th scope="row">Asutaja</th>
                    <th scope="row">Suurendamine</th>
                </tr>
            </thead>
            <tbody>
                {% for companyOwner in company.shareOwner %}
                {% set temp = usedPerson.append(companyOwner.owner.id) %}
                <tr>
                    <td>
                        {% if companyOwner.owner.type == 1 %}
                            {{ companyOwner.owner.firstName + " " + companyOwner.owner.lastName}}
                        {% else %}
                            {{ companyOwner.owner.name }}
                        {% endif %}
                    </td>
                    <td>
                        {% if companyOwner.owner.type == 1 %}
                            {{ companyOwner.owner.personalCode}}
                        {% else %}
                            {{ companyOwner.owner.regCode }}
                        {% endif %}
                    </td>
                    <td>
                        {% if companyOwner.owner.type == 1 %}
                            Füüsiline
                        {% else %}
                            Juriidiline
                        {% endif %}
                    </td>
                    <td>
                        {{companyOwner.personShare}}
                    </td>
                    <td>
                        {% if companyOwner.personIsFounder == 1 %}
                            Jah
                        {% else %}
                            Ei
                        {% endif %}
                    </td>
                    <td>
                        <div class="form-group row">
                            <label for="cut" class="col-sm-2 col-form-label">Osa suurus</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" id="cut{{companyOwner.owner.id}}" onkeyup="checkIfEnable({{companyOwner.owner.id}})" aria-describedby="cutHelpBlock">
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-primary addMoney" type="submit" disabled id="{{companyOwner.owner.id}}button">Lisa</button>
                            </div>
                            <small id="cutHelpBlock" class="form-text text-muted">
                                Täisarv, vähemalt 1
                            </small>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div id="owners" class="border border-primary p-3">
            <div class="form-group row">
                <div class="form-group">
                    <label for="person">Osanike andmed</label>
                    <input id="person" class="form-control" name="searchText" type="text" onkeyup="searchForPerson()" placeholder="Otsing">
                    <br>
                    <div class="specialTable">
                        <table id="personList" class="table specialTable">
                            <thead>
                                <tr>
                                    <th scope="col-4">Nimi</th>
                                    <th scope="col-3">Isikukood/Registrikood</th>
                                    <th scope="col-3">Füüsiline/Juriidiline</th>
                                    <th scope="col-2"> </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in persons %}
                                {% if not person.id in usedPerson %}
                                <tr id="rowId{{person.id}}">
                                    <td scope="col-4">
                                        {% if person.type == 1 %}
                                        {{ person.firstName + " " + person.lastName}}
                                        {% else %}
                                        {{ person.name }}
                                        {% endif %}
                                    </td>
                                    <td scope="col-3">
                                        {% if person.type == 1 %}
                                        {{ person.personalCode}}
                                        {% else %}
                                        {{ person.regCode }}
                                        {% endif %}
                                    </td>
                                    <td scope="col-3">
                                        {% if person.type == 1 %}
                                        Füüsiline
                                        {% else %}
                                        Juriidiline
                                        {% endif %}
                                    </td>
                                    <td scope="col-2">
                                        <div class="form-group row">
                                            <label for="cut" class="col-sm-2 col-form-label">Osa suurus</label>
                                            <div class="col-sm-5">
                                                <input type="number" min="1" class="form-control" id="cut{{person.id}}" onkeyup="checkIfEnable({{person.id}})" aria-describedby="cutHelpBlock">
                                            </div>
                                            <div class="col-sm-2">
                                                <button class="btn btn-primary addMoney" type="submit" disabled id="{{person.id}}button">Lisa</button>
                                            </div>
                                            <small id="cutHelpBlock" class="form-text text-muted">
                                                Täisarv, vähemalt 1
                                            </small>
                                        </div>
                                    </td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <input type="text" class="form-control hiddenInput" id="addMoney" name="idNumber" value="{{company.companyId}}," readonly>
    </form>
{% endblock %}